<%= link_to user do %>
<div id="<%= dom_id user%>" class="flex flex-row p-4 bg-white rounded-lg shadow-md mb-4  gap-3 outline outline-1 outline-indigo-300 font-mono">
<%# <%= image_tag user.photo, class:"rounded-lg w-36 h-24 object-cover"%> 
<div>
<h2 class='text-xl text-gray-700'>
<strong><%= user.name %></strong>
</h2>
<p class='text-gray-400'>number of posts:
 <span class='font-bold text-indigo-500'><%= user.posts_counter || 0 %></span>
<p>
</div>
</div>
<% end %>



